<app-navbar></app-navbar>
<table class="table">
    <thead>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Stock</th>
    </thead>
    <tbody *ngIf="listadoProductosFiltradoPorStock!.length > 0">
        <tr *ngFor="let item of listadoProductosFiltradoPorStock">
            <td>{{item.codigo}}</td>
            <td>{{item.descripcion}}</td>
            <td>$ {{item.precio}}</td>
            <td>{{item.stock}}</td>
            <td></td>
        </tr>
    </tbody>
    <p *ngIf="listadoProductosFiltradoPorStock!.length==0">No hay productos cargados</p>
</table>
